$graphic-size: 250px;

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include fade-animation("about-page-fade-in", 0, 1, 1s, 50px);

    .info-section {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 70%;

            h1 {
                margin-right: 30%;
            }

            p {
                margin-right: 30%;
            }

            .mushroom {
                color: $secondary-color-lighter;
                width: $graphic-size;
                height: $graphic-size;
            }
        }

        .links {
            @extend .project-ribbon;
            margin-top: 10%;
            height: 150px;
            width: 300px;
        }

        @media (max-width: $max-width-for-hamburger) {
            margin: 50px 50px;
            .info-body {
                flex-direction: column-reverse;
                width: 100%;
                margin: 0 30px;
                h1 {
                    margin-right: 0px;
                }

                p {
                    margin-right: 0px;
                }

                .mushroom {
                    color: $secondary-color;
                    width: $graphic-size/1.5;
                    height: $graphic-size/1.5;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
