@mixin fade-animation(
    $animName,
    $startOpacity,
    $endOpacity,
    $time,
    $startPos: null,
    $endPos: null
) {
    -webkit-animation: $animName $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: $animName $time; /* Firefox < 16 */
    -o-animation: $animName $time; /* Opera < 12.1 */
    animation: $animName $time;

    @include keyframes($animName) {
        from {
            opacity: $startOpacity;
            @if $startPos {
                transform: translateY($startPos);
            }
        }
        to {
            opacity: $endOpacity;
            @if $endPos {
                transform: translateY($endPos);
            }
        }
    }
}

.fade-in {
    @include fade-animation("fade-in", 0, 1, 1s);
}
