.icon {
    svg {
        max-width: 6rem;
        max-height: 6rem;
    }

    svg:hover {
        cursor: pointer;
    }

    @media (max-width: $max-width-for-small-screen) and (max-height: $max-height-for-small-screen) {
        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}
