main {
    color: $primary-color;
    z-index: -1;
}

html {
    background-color: $primary-background;
}

h1 {
    font-size: xxx-large;
    font-weight: bold;
    color: $primary-color;
}

p {
    font-size: large;
    color: $primary-color-alt;
    line-height: 2;
}

@media (max-width: $max-width-for-hamburger) {
    h1 {
        font-size: xx-large;
        font-weight: bold;
        color: $primary-color;
    }

    p {
        font-size: medium;
        color: $primary-color-alt;
        line-height: 1.5;
    }
}

@media (max-width: 400px) and (max-height: 600px) {
    h1 {
        font-size: x-large;
        font-weight: bold;
        color: $primary-color;
    }

    h2 {
        font-size: small;
    }

    p {
        font-size: small;
        color: $primary-color-alt;
        line-height: 1.2;
    }
}
