$navbar-height: 60px;
$navbar-margin-bottom: 10;
$bg-color: #52796f;
$font-color: rgb(255, 255, 255);
$max-width-for-hamburger: 600px;

.navbar {
    min-height: $navbar-height;
    height: $navbar-height;
    background: $bg-color;
    width: 100%;
    transition: height 0.2s;
    -webkit-box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);

    li a {
        display: inline-block;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        color: $font-color;
        text-transform: uppercase;
        border-radius: 3px;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
    }

    li a:hover {
        background-color: #84a98c;
        transition: 0.2s;
    }

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        overflow: hidden;
        float: left;
    }

    .hamburger {
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
    }

    @media (max-width: $max-width-for-hamburger) {
        .hamburger {
            display: block;
            float: left;
            margin: 14px 10px;
        }

        ul {
            display: none;
        }
    }
}

.expanded {
    @media (max-width: $max-width-for-hamburger) {
        height: 170px;
        ul {
            clear: both;
            float: none;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        li {
            margin-top: 10px;
        }

        li a {
            padding: 5px 20px;
        }
    }
}
