@import "./Theme.scss";

$navbar-height: 60px;
$navbar-margin-bottom: 10;
$max-width-for-hamburger: 600px;

.navbar {
    font-family: $font-stack;
    min-height: $navbar-height;
    height: $navbar-height;
    background: $secondary-color;
    width: 100%;
    transition: height 0.2s;
    -webkit-box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px -7px rgba(0, 0, 0, 0.5);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    li a {
        display: inline-block;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-weight: bold;
        color: $primary-color-highlight;
        border-radius: 3px;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
    }

    li a:hover {
        background-color: $secondary-color-lighter;
        transition: 0.2s;
    }

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        margin: 0 20px;
        padding: 0;
        overflow: hidden;
        float: right;
    }

    .hamburger {
        font-size: 30px;
        color: $primary-color-highlight;
        cursor: pointer;
        display: none;
    }

    .logo {
        float: left;
        max-height: $navbar-height;
        scale: 0.8;
    }

    @media (max-width: $max-width-for-hamburger) {
        .hamburger {
            display: block;
            float: left;
            margin: 14px 10px;
        }

        ul {
            display: none;
        }

        .logo {
            float: right;
            margin: 0 2px;
        }
    }
}

.expanded {
    @media (max-width: $max-width-for-hamburger) {
        height: 170px;

        ul {
            border-top: 2px solid $primary-color-highlight;
            margin: 0 5px;
            clear: both;
            float: none;
            height: 170px - $navbar-height;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        li {
            margin-top: 10px;
        }

        li a {
            padding: 8px 30px;
        }
    }
}
