$navbar-height: 50px;
$navbar-margin-bottom: 10;
$bg-color: rgb(0, 134, 34);
$font-color: rgb(255, 255, 255);

.NavBar {
    min-height: $navbar-height;
    max-height: $navbar-height;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    //justify-content: flex-end;
    width: 100%;

    li a {
        display: inline-block;
        text-align: center;
        padding: 18px 20px;
        text-decoration: none;
        color: $font-color;
        text-transform: uppercase;
        border-radius: 3px;
    }

    li {
        display: inline;
    }

    li a:hover {
        color: #111;
        transition: 0.2s;
    }

    ul {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        padding: 0;
        overflow: hidden;
    }

    .hamburger {
        font-size: 30px;
        color: white;
        margin-right: 20px;
        cursor: pointer;
        display: none;
    }
    #hamcheck {
        display: none;
    }

    @media (max-width: 600px) {
        .hamburger {
            display: block;
            margin-left: auto;
        }

        ul {
            list-style-type: none;
            display: none;
        }
    }
}
