@import "../fonts/inter/inter.css";

$font-stack: inter, sans-serif;

$secondary-color: #3a5a40;
$secondary-color-lighter: #588157;
$secondary-color-darkest: #344e41;
$secondary-color-highlight: #a3b18a;
$secondary-color-lightest: #dad7cd;

$primary-color: #2e3440;
$primary-background: #eceff4;
$primary-color-highlight: #e5e9f0;
